body {
    font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    background-color:black;
    font-size:14px;
    
}

header {
  background-image: url("bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

header#title {
    color: white;
}


#logo img {
  max-width: 120px;
  border: 5px solid #fff;
  border-radius: 100%;
}